.btn {
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 20px;
  background-color: transparent;
  color: ghostwhite;
  border: none;
  transition: all 200ms ease;
}

.btnGroup {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.btn:hover {
  transform: scale(1.2);
}
