@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #353353;
  color: ghostwhite;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus {
  outline: none !important;
}

a:link {
  text-decoration: none;
  color: ghostwhite;
}

a:visited {
  text-decoration: none;
  color: ghostwhite;
}

a:active {
  text-decoration: none;
  color: ghostwhite;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353353;
}

::-webkit-scrollbar-thumb {
  background: #1c1c34;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f0f1d;
  cursor: pointer;
}
